body {
  background-color: white;
}
#maincontent {
  width: 960px;
  margin: auto;
}
.thumbnail:hover {
  transform: scale(1.5,1.5);
  box-shadow: 10px 10px 91px 0px #222222;
  z-index:9999;
  cursor:pointer;
}
.thumbnail {
  width: 48px;
  width: 48px;
}