body {
  background-color: white;
}
#maincontent {
  width: 960px;
  margin: auto;
}
.thumbnail{
  width: 48px;
  width: 48px;
  animation: 0.8s thumbnailEnter 1 linear; 
}
.thumbnail:hover {
  transform: scale(1.5,1.5);
  box-shadow: 10px 10px 91px 0px #222222;
  z-index:9999;
  cursor:pointer;
}
@keyframes thumbnailEnter{
  0%{
    top: 15px;
    left: 25px;
    position: relative;
    transform: rotateY(-180deg);
    opacity: 0;
  }
  99% {
    top: 0px;
    left: 0px;
    position: relative;
    transform: rotateY(0deg);
    opacity: 1;
  }
}