body {
  background-color: white;
}
#maincontent {
  width: 960px;
  margin: auto;
}
.thumbnail:hover {
  width:58px;
  height: 58px;
  margin: -5px 0 0 -5px;
  
  box-shadow: 3px 4px 5px 0 #222222;
}
.thumbnail {
  width: 48px;
  width: 48px;
}